/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navigation bar */
.navbar {
    background-color: #fff;
    color: #001e4d;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo img {
    height: 75px;
    width: 175px;
}

.nav-links {
    float: right;
    list-style: none;
    margin-top: 25px;
    
}

.nav-links li {
    display: inline;
    margin-left: 20px;
    font-weight: bold;
    font-size: larger;
}
.nav-links li :hover{
    color: rgb(94, 203, 233);
}

.nav-links a {
    color: #001e4d;
    text-decoration: none;
}



/* Style the hero section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    /* opacity: 30%; */
    background-color: black;
}

.hero h1 {
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
    color: #fff;
    /* background-color: #fff;
    opacity: 50%; */
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #001e4d;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
#about{
    background-color: #001e4d;
}
#about h3{
    position: absolute;
    left: 20px;
    margin-top: 30px;
    font-size: 90px;
    color: #fff;
    padding: 20px;
}
#about p{
    font-size: 150%;
    padding: 50px;
    color: #fff;
    text-align: left;
}
.pump{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 900px;
    top: 630px;
}

/* Style the footer */
.footer {
    background-color: #001e4d;
    color: white;
    text-align: center;
    padding: 20px 0;
}
