*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #001e4d;
}

/* nav bar css style */
.nav{
    width: 90%;
    height: 40px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.logo{
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
}
ul {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 0;
  }
li{
    float: right;
}
.sign{
    background-color: white;
    color: #001e4d;
    border-radius: 10px;
    border-color: rgb(13, 73, 125);
    font-size: large;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
}
.sign:hover{
    background-color:#001e4d ;
    color: white;
}
.usertag{
    cursor: pointer;
    padding: 10px;
    background-color:#001e4d ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size:large;
    font-weight: 600;
}


/* form style */
h3{
    font-size: 25px;
    color: #001e4d;
    font-weight: 800;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    padding-top: 20px;
}
.form{
    background-color: white;
    color: #001e4d;
    padding: 2px 50px 50px 50px;
    font-size: 18px;
    border-radius: 5px;
    width: 550px;
    height: 400px;
    margin-left: 330px;
    margin-top: 20px;
}
.innerForm{
    padding: 20px;
}
textarea{
    margin: 5px;
    padding: 10px;
}
.submit{
    background-color: azure;
    padding: 10px;
    width: 100px;
    border-color: azure;
    cursor: pointer;
}
.head{
    background-color: antiquewhite;
    margin: 20px;
    padding: 10px;
    color: black;
}
p{
    font-weight: 600;
    margin: 10px;
}
.submit{
    background-color: #001e4d;
    color: white;
}
/* .btn{
    padding: 5px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
  } */



/* Tooltip container = popup */
.tooltip {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    color: white;
    background-color: black;
    border-bottom: 1px dotted black; 
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #70bbe4;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 20%;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 0.6s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
